body {
  background-color: #F5F5F5;
}

#header {
  height: 40px;
  padding-top: 8px;
  padding-left: 30px;
}

#header #title {
  margin-top: 3px;
}

#entitypage {
  padding: 15px;
}

vbox.group {
  margin: 15px 20px;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 35px;
  padding-bottom: 10px;
  background-color: white;
  border: #B9B9B9 solid 2px;
  max-width: 500px;
}

.groupTitle {
  margin-top: -20px;
  margin-left: -5px;
  color: #60BCE4;
  font-weight: bold;
}

vbox.group.grid {
  width: 100%;
  max-width: initial;
}

.fieldContainer {
  margin: 10px;
  width: 140px;
}

.fieldContainer[datatype=string] {
  width: 300px;
}

.fieldContainer > vbox {
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
}

textarea {
  width: 310px;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 80%;
}

.fieldLabel {
  margin-bottom: 2px;
  font-size: 70%;
  color: #7F7F7F;
}

input {
  height: 20px;
  margin-right: 2px;
}
vbox.group:not(.grid) input:not([type="checkbox"]) {
  width: 100%;
}

input,
textarea,
select {
  border: #CCCCCC solid 1px;
  background-color: white;
}

input[readonly=true],
textarea[readonly=true],
select[readonly=true] {
  border: #EDEDED solid 1px;
  background-color: #FAFAFA;
}

input[type=checkbox] {
  margin: 0;
}
