﻿/* generic styles */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
}

hbox {
  display: flex;
  flex-direction: row;
}

vbox {
  display: flex;
  flex-direction: column;
}

hwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

divi {
  display: inline-flex;
}

spacer {
  display: flex;
  flex-grow: 1;
}

[hidden=true] {
  display: none;
}

.click {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.noTextSelect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


/* Do not combine these selectors using ",", it breaks the rule on FF */
input::placeholder {
  color: #BBBBBB;
}
input::-moz-placeholder {
  color: #777777;
}
input::-webkit-input-placeholder {
  color: #BBBBBB;
  font-size: 90%;
}


/* specific styles */

body {
  background-color: #F5F5F5;
}

#header {
  background-color: #797978;
  color: white;
}

#header #title {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 150%;
}

#footerSpacer {
  height: 75px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #E0E0E0;
  border-top: #8E8E8E solid 1px;
  justify-content: space-between;
  align-items: center;
}

#footerContext {
  justify-content: flex-start;
  align-items: center;
}

#footerGlobal {
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.bigbutton {
  margin: 5px 10px;
  justify-content: center;
  align-items: center;
}

.bigbutton hbox.circle {
  border: #8C8C8C solid 2px;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-color: #EFEFEF;
  justify-content: center;
  align-items: center;
}

.bigbutton hbox.circle:hover {
  background-color: white;
}

.bigbutton .label {
  margin-top: 5px;
  color: #3F3F3F;
}

.bigbutton[disabled] img,
.bigbutton[disabled] .label {
  opacity: 0.5;
}
.bigbutton[disabled] hbox.circle:hover {
  background-color: #EFEFEF;
}



.blue {
  color: #76C5E7;
}

hbox.horizontalLine {
  margin: 7px;
  height: 1px;
  border-top: #B9B9B9 solid 1px;
}

input {
  height: 20px;
  padding: 1px 5px 1px 5px;
  border: #CCCCCC solid 1px;
  background-color: white;
}

input:focus {
  border: #408ECC solid 2px;
}

select {
  height: 24px;
}

option {
  background-color: white;
}

span.required {
  width: 1px;
  margin-left: 4px;
  color: #1B74BB;
}


/* inline search widget */

/* Do not combine these selectors using ",", it breaks the rule on FF */
hbox.inlineSearch > input::placeholder {
  color: #BBBBBB;
}
hbox.inlineSearch > input::-moz-placeholder {
  color: #BBBBBB;
}
hbox.inlineSearch > input::-webkit-input-placeholder {
  color: #BBBBBB;
}

div.ac-popup {
  width: 50em !important;
  background-color: white;
  color: black;
  max-height: 30em;
}

hbox.ac-item hbox.cell {
  width: 10em;
  overflow: hidden;

  margin: 0;
  padding: 4px 8px;
  border-right: #B9B9B9 solid 1px;
}

hbox.ac-item:nth-child(even) {
  background-color: #F7F7F7;
}

hbox.ac-item hbox.header hbox.cell {
  font-weight: bold;
  border-bottom: #B9B9B9 solid 1px;
}

.ac-item.error {
  background-color: #D22816;
}


/* grid */

table.grid {
  margin: 20px 40px 10px 40px;
  border-right: #B9B9B9 solid 1px;
  border-bottom: #B9B9B9 solid 1px;
}

table.grid > thead > tr > th,
table.grid > tbody > tr > td {
  max-width: 12em;
  max-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*    Colors and borders */

table.grid {
  background-color: white;
  border-right: #B9B9B9 solid 1px;
  border-bottom: #B9B9B9 solid 1px;
  border-collapse: collapse;
  border-spacing: 0;
}

table.grid > tbody {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100px;
}

table.grid > thead > tr > th,
table.grid > tbody > tr,
table.grid > tbody > tr > td {
  margin: 0;
  padding: 4px 6px;
}

table.grid > thead > tr > th {
  border: #B9B9B9 solid 1px;
  font-weight: bold;
  text-align: left;
}

table.grid > tbody > tr > td {
  border-left: #B9B9B9 solid 1px;
}

table.grid > tbody > tr:nth-child(even) {
  background-color: #F7F7F7;
}

table.grid > tbody > tr:hover {
  background-color: #A0D8F0 !important;
  color: white;
}

table.grid > tbody > tr[selected=true] {
  background-color: #41B1E1;
  color: white;
}

table.grid > tbody > tr > td[datatype=boolean] {
  text-align: center;
  padding: 4px 8px;
}

table.grid.edit > tbody > tr:not(:hover) > td.selector > input {
  visibility: hidden;
}

/* tabs */

hbox.tabHeaders {
  margin: 3px 5px 0px 15px;
}
hbox.tabHeaders > div.tabHeader {
  border: #DEDEDE solid 1px;
  padding: 3px 10px;
  margin: 0;
}
hbox.tabHeaders > div.tabHeader[selected=true] {
  background-color: #408ECC;
  border-color: #1B74BB;
  color: white;
}

hbox.tabContentPanes {
  margin: 0;
}
vbox.tabContentPanes > *[selected=false] {
  display: none;
}
