#header {
  padding: 12px;
}

#mainSearchBox {
  margin-left: 20%;
  /* margin-right: 20%; allow space for [...] button */
  width: 60%;
}

#simpleSearchBar,
#extendedSearchBar {
  min-height: 24px;
  padding: 4px;
  border: #9E9E9E solid 1px;
}

#simpleSearchBar {
  padding: 4px;
  text-align: center;
  vertical-align: center;
  background-color: white;
}

#simpleSearchField {
  width: 100%;
  border: none;
  margin-left: 10px;
  font-size: 110%;
}

/* Do not combine these selectors using ",", it breaks the rule on FF */
/* This is ugly!
#simpleSearchField::placeholder {
  font-style: italic;
}
#simpleSearchField::-moz-placeholder {
  font-style: italic;
}
#simpleSearchField::-webkit-input-placeholder {
  font-style: italic;
}*/


#simpleSearchClear {
  width: 16px;
  height: 16px;
  padding-top: 4px; /* TODO center */
  padding-right: 8px;
  color: black;
}

#simpleSearchInfo {
  margin: -4px;
  padding: 8px 8px; /* TODO center */
}

#simpleSearchInfo:hover {
  background-color: #CFECF8;
}


#extendedSearchBar {
  background-color: #E5E5E5;
}

#extendedSearchSummary {
  flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

#simpleSearchButton,
#extendedSearchButton {
  margin: -4px -4px -4px 4px;
  padding: 6px 8px;
  color: blue;
}
#simpleSearchButton:hover {
  background-color: #CFECF8;
}
#extendedSearchButton {
  background-color: #D8D8D8;
}

#extendedSearchFields {
  padding: 15px 30px;
  background-color: white;
  color: black;
  border: #9E9E9E solid 1px;
  border-top: none;
}

#extendedSearchFields .fieldLabel {
  color: #7F7F7F;
  font-size: 70%;
}

#extendedSearchFields .fieldContainer {
  width: 200px;
  margin: 4px;
}

#extendedSearchFields > .tabHeaders {
  margin-top: 20px;
  margin-left: -10px;
}

#extendedSearchFields > .tabHeaders > .tabHeader {
  padding: 0px 10px;
  border: none;
  border-left: #DEDEDE solid 1px;
  background-color: inherit;
  color: #7F7F7F;
  font-size: 80%;
}

#extendedSearchFields > .tabHeaders > .tabHeader[selected=true] {
  background-color: inherit;
  color: #1B74BB;
  font-weight: bold;
}
#extendedSearchFields > .tabHeaders > .tabHeader[selected=false]:hover {
  color: #1B74BB;
}

#extendedSearchOpenClose {
  height: 28px;
  width: 20px;
  margin-left: 10px;
  margin-top: 3px;
  padding-left: 6px;
  padding-left: 6px;
  border-radius: 5px;
  border-width: 2px;
  border-color: transparent;
  background-color: #9D9D9D;
  color: white;
  font-size: 16px;
  cursor: default;
}

#extendedSearchOpenClose:hover {
  border-color: #333333;
}

#extendedSearchSummary {
  padding: 0px 20px 0px 20px;
}

#extendedSearchSummary hbox.criteria {
  height: 24px;
  margin: 0px 2px;
  padding: 0px 0px 0px 10px;
  background-color: #408ECC;
  color: white;
  border-radius: 3px;
}

#extendedSearchSummary input,
#extendedSearchSummary select {
  border: none;
  background-color: #1B74BB;
  color: white;
}

#extendedSearchSummary select > option {
  background-color: white;
  color: black;
}

#extendedSearchSummary hbox.criteria .fieldLabel {
  padding: 5px 7px 3px 0px; /* TODO center */
  font-size: 70%;
  font-weight: bold;
}

#extendedSearchSummary hbox.criteria hbox.clearCriteria {
  padding: 3px 0px 3px 10px;
}


/* results area */

#results {
  width: 100%;
  height: 100%;
}

#resultHeader {
  margin: 0px 16px 0px 16px;
  justify-content: space-between;
  align-content: center;
}

#resultCount {
  margin-top: 3px;
  margin-left: 10px;
  align-content: center;
  font-weight: bold;
}

#viewSwitcher > hbox {
  margin: 2px;
  padding: 1px;
  border: transparent solid 2px;
  border-radius: 3px;
}

#viewSwitcher > hbox[selected=true] {
  border: black solid 2px;
}

#viewSwitcher > hbox[selected=false]:focus {
  border-color: #3FAFDF;
}


/* Result grid - defined in global.css */


/* Result cards */

#cardResults {
  padding: 0px 15px;
}

.card {
  margin: 15px;
  padding: 15px;
  background-color: white;
  border: #B9B9B9 solid 2px;
  width: 370px;
  position: relative; /* TODO good idea in flex layout? Needed for checkbox in top right. */
}

.card[selected=true] {
  border: #7F7F7F solid 2px;
}

#cardResults .label {
  padding: 1px 2px;
  font-size: 70%;
  color: #818181;
}

#cardResults .field {
  background-color: #F7F7F7;
  padding: 1px 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#cardResults .labeledField {
  width: 170px;
  margin: 3px 5px;
}

#cardResults .labeledField[datatype=date],
#cardResults .labeledField[datatype=datetime],
#cardResults .labeledField[datatype=int],
#cardResults .labeledField[datatype=decimal],
#cardResults .labeledField[datatype=boolean] {
  width: 80px;
}

#cardResults input.selectItem {
  position: absolute;
  top: 5px;
  right: 5px;
}
