#header {
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
}

#header #title {
  margin-top: 3px;
}

#startpage {
  padding: 10px;
}

tab {
  display: inline-block;
  background-color: white;
  width: 17em;
  margin: 20px;
  border: #1B354A solid 1px;
}

tab .header {
  background-color: #1B354A;
  color: white;
  padding: 5px 10px;
  text-align: center;
}

tab .content {
  overflow-y: auto;
  height: 22em;
  padding: 5px 15px;
}

tab .entry {
  padding: 2px 4px;
  font-size: 80%;
  flex: 1 0 auto; /* fixes overlapping lines in gchrome */
}

tab .entry:hover {
  background-color: #C6CCD2;
}

#quickSearchBar {
  margin-top: 8px;
  margin-right: 30px;
}

#quickSearchField {
  width: 20em;
}
